<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe id="modelFrame" src="assets/aframe/aframe-ar.html" title="Test"></iframe>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button color="primary" class="ion-text-capitalize" (click)="showModel('local')">
    Mostrar Modelo 3D Local
  </ion-button>
  <ion-button color="primary" class="ion-text-capitalize" (click)="showModel('remote')">
    Mostrar Modelo 3D Remoto
  </ion-button>
</ion-footer>
